<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="9799MattMcCormick.Camdrop" Publisher="CN=C6F6E569-3D6B-467C-ACB2-38BF1E5BE1A1" Version="1.1.0.4" />
  <Properties>
    <DisplayName>Camdrop</DisplayName>
    <PublisherDisplayName>Matt McCormick</PublisherDisplayName>
    <Logo>Assets\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Camdrop.Windows.App">
      <m2:VisualElements DisplayName="Camdrop" Square150x150Logo="Assets\logo.png" Square30x30Logo="Assets\smalllogo.png" Description="Dropcam client for Windows" ForegroundText="light" BackgroundColor="#00B0ED">
        <m2:DefaultTile ShortName="Camdrop" Wide310x150Logo="Assets\widelogo.png" Square310x310Logo="Assets\largelogo.png" Square70x70Logo="Assets\square71x71logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\splashscreen.png" BackgroundColor="#00B0ED" />
        <m2:ApplicationView MinWidth="width500" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>